.layout {
  min-height: 165vh;
  background-color: #f9fafb;

  &__main {
    &__main-container {
      max-width: 1536px;
      margin: 0 auto;
    }
  }

   @media (min-width: 768px ) {
    min-height: 200vh;
  }
}